<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TMParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TMParser.Properties.Settings.Db_TrophyConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Db_Trophy.mdb"
        providerName="System.Data.OleDb" />
    <add name="TMParser.Properties.Settings.Db_TrophyConnectionString1"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Documents and Settings\Leonardo\Documenti\TrophyManager\trophy manager alpha\Data\Db_Trophy.mdb&quot;"
        providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
        <TMParser.Properties.Settings>
          <setting name="SquadFilename" serializeAs="String">
              <value>squad.htm</value>
          </setting>
          <setting name="DefaultDirectory" serializeAs="String">
              <value>./Data</value>
          </setting>
      </TMParser.Properties.Settings>
    </userSettings>
</configuration>