<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TMEconomyEvaluator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TMEconomyEvaluator.Properties.Settings>
            <setting name="BarLabel" serializeAs="String">
                <value>Fast Food / Bar Level</value>
            </setting>
            <setting name="StructuresLabel" serializeAs="String">
                <value>Structures Level</value>
            </setting>
            <setting name="OptionsLabel" serializeAs="String">
                <value>optionsToolStripMenuItem</value>
            </setting>
            <setting name="SausageLabel" serializeAs="String">
                <value>Sausages Level</value>
            </setting>
            <setting name="RestaurantLabel" serializeAs="String">
                <value>Restaurant Level</value>
            </setting>
            <setting name="VipLabel" serializeAs="String">
                <value>Vip Level</value>
            </setting>
            <setting name="DivisionLabel" serializeAs="String">
                <value>Division</value>
            </setting>
            <setting name="LeaguePosLabel" serializeAs="String">
                <value>League Position</value>
            </setting>
            <setting name="LeaguePos1Label" serializeAs="String">
                <value>Avoid Relegation</value>
            </setting>
            <setting name="LeaguePos2Label" serializeAs="String">
                <value>Top 12</value>
            </setting>
        </TMEconomyEvaluator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
